.journalPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notepad{
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  color: #d4d4d4; 
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Monocraft', monospace; 
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  
}

.journal-card-header {
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.journal-card-body {
  padding: 10px;
  color: #d4d4d4;
}
.Btnclear, .Btndelete{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e02e2e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Btnsubmit{
   margin-top: 20px;
  padding: 10px 20px;
  background-color: #28ad19;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.journal-card-entry{
  background-color: #333;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.content-body{
  border-radius: 12px;
  border-style: groove;
}